html {
  scroll-behavior: smooth;
}

/* HeroCards background shadow */
.shadow {
  position: absolute;
  background: hsl(var(--primary) / 0%);
  border-radius: 24px;
  rotate: 35deg;

  width: 260px;
  top: 200px;
  height: 400px;
  filter: blur(150px);
  animation: shadow-slide infinite 4s linear alternate;
}

@keyframes shadow-slide {
  from {
    background: hsl(var(--primary) / 20%);
    right: 460px;
  }
  to {
    background: hsl(var(--primary) / 80%);
    right: 160px;
  }
}

@media (max-width: 1024px) {
  .shadow {
    top: 70px;
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 460px;
    }
    to {
      background: hsl(var(--primary) / 50%);
      right: 160px;
    }
  }
}

@media (max-width: 768px) {
  .shadow {
    top: 70px;
    width: 100px;
    height: 350px;
    filter: blur(60px);
  }

  @keyframes shadow-slide {
    from {
      background: hsl(var(--primary) / 20%);
      right: 280px;
    }
    to {
      background: hsl(var(--primary) / 30%);
      right: 100px;
    }
  }
}

/* styles.css ou un fichier CSS équivalent */
.header-bg {
  padding: 200px 0 50px 0;
  position: relative;
  z-index: 0; /* Assurez-vous que le contenu du header soit au-dessus de l'image */
}
.header-bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("./assets/background-hero3.jpg");
  background-size: cover;
  background-position: left 45% bottom 25%;
  opacity: 0.8; /* Opacité de l'image */
  z-index: -1; /* Place le pseudo-élément derrière le contenu */
}

.qxCTlb {
  border: 2px solid #000000 !important;
  background-color: #448fa3 !important;
  border-radius: 5px !important;
  transition: color 400ms ease, background-color 400ms ease, border 400ms ease !important;
}
.qxCTlb:hover {
  background-color: transparent !important;
  color: #448fa3 !important;
  border: 2px solid #448fa3 !important;
}
